-# This goes right after the opening body tag in the final html file.
#container
    .pomodoro
        %h1.title Pomodoro Timer
        %h2.work-label WORK
        %button.work-less.btn -
        .work-timer
        %button.work-more.btn +
        .spacer (start/stop)
        %h2.break-label REST
        %button.break-less.btn -
        .break-timer
        %button.break-more.btn +
        .spacer2 (reset)
